html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* General Styling */

#container {
    max-width: 1300px;
    margin: auto;
}

/* Begin Header Styling */

#header {
    width: 100%;
    height: auto;
    background-image: url("headerbackground.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    box-shadow: 1px 1px 1px #000000;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
}

#header img {
    width: 30%;
    max-width: 150px;
    margin-top: 1em;
    background-color: rgba(203, 220, 88, 0.95);
    border-radius: 50%;
}

#header li {
    display: inline;
    font-size: 1em;
    line-height: 1em;
    padding: 0.25em;
}

#nav {
    padding: 0.2em;
    text-align: center;
}

 /* Basic Content Styling */

#content {
    margin: 1em;
    margin-top: 12em;
}

/* Welcome Styling */

#welcome {
    width: 95%;
}

#welcome article {
    width: 95%;
    margin: auto;
}

#alien {
    width: 100%;
    text-align: center;
}

#alien img {
    width: 25%;
    max-width: 150px;
    text-align: center;
}

/* Image Section Styling */

#pizzaimages {
    padding: 1em;
    background-color:
}

#pizzaimages img {
    width: calc(100% / 3);
    border-radius: 5%;
    margin: 0.2em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#pizzaimages {
    text-align: center;
}

/* Menu Stylizations */

#menu {
    margin-top: 3em;
}

#menu h1 {
    width: 75%;
    font-size: 5em;
    border-top: 1px solid;
    border-bottom: 2px solid;
}

.menuitem {
    background-color: rgba(203, 220, 88, 0.7);
    margin: 0.5em;
    padding: 1em;
    border-radius: 5%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/* Image Stylizations */

.menuheadimage {
    text-align: center;
}

.menuheadimage img {
    width: 25%;
    max-width: 150px;
}

.menuimage {
    width: 100%;
    text-align: center;
}

.menuimage img {
    width: 40%;
    max-width: 250px;
    margin: 0.25em;
    border-radius: 5%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/* Specials Stylization */

/* Contact Stylization */

#contact ul {
    width: 50%;
    margin: auto;
    text-align: center;
}

#contact li {
    display: inline;
    text-decoration: none;
}

/* General Text Stylization */

h1 {
    font-size: 4em;
}

h3 {
    font-size: 1.75em;
    border-bottom: 1px solid;
    border-top: 1px solid;
    width: 75%;
    padding-top: 0.25em;
}

.images {
    margin: 0.5em auto;
    padding: 0.25em;
    width: 25%;
    max-width: 150px;

}

.headline {
    margin: auto;
    font-family: 'Audiowide', cursive;
    color: #ff0000;
    text-align: center;
    font-size: 2.5em;
}

.subhead {
    margin: auto;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    color: #1485cc;
    text-align: center;
    margin-top: 1em;
}

p {
    margin: auto;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 1.5em;
    letter-spacing: 1px;
}

.submitbutton:hover {
    background: linear-gradient(#fffc19, #b21212);
    opacity: 1;
    transition: 2s;
    letter-spacing: 1px;
}

.submitbutton {
    font-family: 'Audiowide', cursive;
    color: #fffc19;
    border-radius: 5%;
    background: linear-gradient(#ff0000, #b21212);
    opacity: 0.97;
    letter-spacing: 1px;
}

.text {
    width: 98%;
    margin: 1em auto;
    padding: 0.5em;
    background-color: rgba(20, 133, 204, 0.2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5%;
}

.socialmedia {
    width: 50%;
    margin: auto;
}

.socialmedia img {
    width: 25%;
    padding: 1em;
}

@media (min-width: 200px) {
    #pizzaimages {
        width: 95%;
        margin: auto;
    }

    #pizzaimages img {
        width: 90%;
        margin: auto;
    }
}

@media (min-width: 600px) {
    #pizzaimages {
        width: 100%;
    }

    #pizzaimages img {
        width: calc(100% / 3 - 2em);
    }

    #appetizers {
        width: 47%;
        padding: 0.25em;
    }

    #entrees {
        width: 47%;
        padding: 0.25em;
        float: right;
    }

    #drinks {
        width: 47%;
        padding: 0.25em;
    }

    #desserts {
        width: 47%;
        padding: 0.25em;
        float: right;
    }

}

@media (min-width: 1000px) {
    #welcome {
        width: 80%;
        margin: auto;
        margin-top: 5em;

    }

    #menu {
        width: 95%;
        margin: auto;
    }
}
