html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* General Styling */

#container {
    max-width: 1300px;
    margin: auto;
    background-image: url("img/pizzaplanetpattern1.jpg");
}

/* Begin Header Styling */

#header {
    width: 100%;
    background-image: url("img/pizza_planet_pattern_1.jpg");
    background-color: rgba(203, 220, 88, 0.95);
    box-shadow: 1px 1px 1px #000000;
    position: fixed;
    margin-top: -1.35em;
    padding-top: 1.5em;
    text-align: center;
}

#header img {
    width: 30%;
    max-width: 150px;
}

#header li {
    display: inline;
    font-size: 1em;
    line-height: 1em;
    padding: 0.25em;
}

#content {
    padding-top: 8em;
}

#welcome {
    background-image: url("img/pizza_planet_pattern_1.jpg");
}

/* General Stylization */

.images {
    margin: 0.5em auto;
    padding: 0.25em;
}

.headline {
    margin: auto;
    font-family: 'Audiowide', cursive;
    color: #ff0000;
    text-align: center;
}

.subhead {
    margin: auto;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    color: #1485cc;
    text-align: center;
    padding: 0.2em;
}

.paragraph {
    margin: 0 auto;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 1.5em;
    letter-spacing: 1px;
}

.submitbutton:hover {
    background: linear-gradient(#fffc19, #b21212);
    opacity: 1;
    transition: 2s;
    letter-spacing: 1px;
}

.submitbutton {
    font-family: 'Audiowide', cursive;
    color: #fffc19;
    border-radius: 5%;
    background: linear-gradient(#ff0000, #b21212);
    opacity: 0.9;
    letter-spacing: 1px;
}

section {
    width: 98%;
    margin: 0.5em auto;
    padding: 0.25em;
    background-color: rgba(20, 133, 204, 0.2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 2%;
}

@media (min-width: 200px) {

}

@media (min-width: 600px) {
    .menuitem {
        padding: 1em;

    }

    #appetizers {
        width: 45%;
    }

    #entrees {
        width: 45%;
        float: right;
    }

    #drinks {
        width: 45%;
    }

    #desserts {
        width: 45%;
        float: right;
    }

}

@media (min-width: 1000px) {
    #leftcolumn {
        width: 50%;
        float: left;
    }

    #rightcolumn {
        width: 50%;
        float: right;
    }

}
